* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #dcdcdc;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #4169E1;
    color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 16px;
}

nav ul li {    
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
}

.container > h2 {
    font-style: italic;
    font-size: 28px;
}

.about {
    display: flex;
    padding: 36px 0;
}

.about-text {
    padding-left: 36px;
}

.about h2, .produto {
    color: #4169E1;
    font-style: italic;
    border-bottom: 2px solid #4169E1;
    margin-bottom: 50px;
    padding-bottom: 16px;
}

.about img {
    width: 300px;
    height: 300px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
}

.produtos h3,
.produtos p {
    padding: 8px 0
}

.produtos button {
    background-color: #4169E1;
    border: none;
    padding: 8px;
    width: 100%;
    font-weight: bold;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.produtos img {
    width: 250px;
    height: 250px;
}
@media screen and (orientation:portrait) and (max-width:1023px) and (min-width:641px) {

    .container {
        width: 90%;
    }
    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        column-gap: 1%;
    }

    .about {
        display: block;     
        max-width: 100%;   
    }

    .about img {
        width: 100%;
        padding-bottom: 8px;
    }

    .about-text {
        padding-left: 0;
        
    }

    .produtos img {
        width: 100%;
    }

    .produtos button {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 85%;
    }

    .menu {
        display: block;
    }

    nav ul li {    
        font-weight: bold;
        cursor: pointer;
        padding: 0px;
    }

    .about {
        display: block;
        width: 100%;
    }

    .about img {
        width: 100%;
    }

    .about-text {
        padding: 0;
        margin-top: 16px;
    }

    .produtos {
        display: block;
    }

    .produtos article {
        margin-top: 20px;
    }

    .produtos img {
        width: 100%;
    }
}